<h1>See whats about to hit the market before anyone else!</h1>
<p>Exotic Cars brings you to what is about to be released and updates you when the nearest dealer recieves new invetory of your dream car.</p>

<%= simple_form_for @car do |f| %>
<%= f.input :name %>
<%= f.button :submit %>
<% end %>
