<!DOCTYPE html>
<head>
  <!-- info -->
</head>
<body>
  <header>
    <img src="">
    <h1>TIY</h1>
    <ul>
      <li>About Us</li>
      <li>Career</li>
      <li>Enroll</li>
    </ul>
  </header>
</body>
